/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  width: 100%
}

.item {
  flex: 1;
  justify-content:center;
  margin: 10px;

}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}
header nav ul {
  display: flex;
  justify-content:center
}
header nav ul li {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display:flex;
  flex-direction:column;
  border: 2px solid #ff385c;
  padding: 10px;
}
form div{
  display:flex;
  justify-content:space-between;
  flex-direction:row;
}

form label {
  font-weight: bold;
}

form select,
form input {

  margin-bottom: 20px;
  width: 180px;

}

form button {
  display:flex;
  justify-content:center;
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.bigitem {
  min-width:0;
  width:100%
}
#location {
  min-width:0;

}
/* -------  Media Query ------- */

@media all and (min-width:480px) {
  .destroy {
    display:flex;
    width:auto;
    min-width: none;
  }
  
  form input {

    margin-bottom: 20px;
    width: 100%;
  
  }
  .button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:center;
    margin: 0px;
min-width:0;
width:100%
  }
  .big {
    display:flex;
    flex-direction: row;
  justify-content:space-between
  }
   .location {
    min-width:0
   }
  .bigitem {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:center;
    margin: 10px;
min-width:0;
width:100%
  }
  header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 42px;
  }
  form {
    flex-direction:row;
    align-content: center;
  }
  .group {
    flex-direction:row
  }
  .host {
    display:flex;
    flex-direction:row
  }
  .container {
    display:flex;

  }
  .ideasgroup-1 {
    display: flex;

    /* flex: 1;
    justify-content:center; */
  }
  .ideasitem-1 {
    display: flex;
    max-width:50%;
    margin-right: 10px;
    /* flex: 1;
    flex-direction: column;
    justify-content:center;
    margin: 10px */
  }
  .ideasgrouptext {
    display:flex;
    justify-content:space-around
  }
  .ideastext {
    display:flex;
    max-width:50%
  }
  .ideasgroup-2 {
    display: flex;

    /* flex: 1;
    justify-content:center; */
  }
  .ideasitem-2 {
    display: flex;
    max-width:50%;
    margin-right: 10px;
    /* flex: 1;
    flex-direction: column;
    justify-content:center;
    margin: 10px */
  }

/* @media all and (max-width: 480px) {
  .item {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
  }
} */
}
@media all and (max-width:400px) {
  .logo{
    font-size:50px
  }

}
@media all and (min-width:480px) and (max-width:600px) {
  form button {
    font-size: 4vw;
  }
}
