body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 45px;
  color: #fff;
}

ul{
  padding-inline-start: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px 0 10px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -------  Search Form ------- */
form {
  font-size: 20px;
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

form div{
  display: flex;
  justify-content: space-between;
  margin: 11px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 160px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Host ------- */

section ul{
  padding-left: 40px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0;
  }

  ul{
    padding-top: 8px;
  }

  form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }

  form input, form select{
    margin-bottom: 0;
  }

  form label{
    padding-right: 5px;
  }

  form div{
    flex: 1;
    margin: 10px;
    width: 100%;
    justify-content: none;
  }
  
  .about{
    display: flex;
    flex-direction: row;
  }

  .about-split{
    flex-direction: row;
    flex: 1;
    padding: 10px;
  }

  .about-split-p{
    flex: 2;
    align-self: center;
    font-weight: normal;
  }
  
  .about-p{
    font-size: 15px;
  }

  .ideas-img{
    flex: 1;
    flex-direction: column;
    padding: 5px;
    font-size: 15px;
  }

  .host-text{
    padding-top: 50px;
  }
  
}
